{{!
    @template mod_supervideotracker/item
}}
<div class="supervideotracker">
    <a href="{{{backurl}}}" class="btn btn-link px-0 mb-3">← {{#str}}backtopackage, supervideotracker{{/str}}</a>
    <h2>{{title}}</h2>
    {{#description}}<p class="lead">{{description}}</p>{{/description}}
    <div id="supervideotracker-player" class="supervideotracker__player">
        {{{sourcehtml}}}
    </div>
</div>
